*{
    border:1px solid limegreen;
    background-color: black;
    padding:5px;
    color:white;
    font-size:large;
}

.flex-container{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;

}

.header{
    text-align: center;
    font-size: medium;
    padding: 10px;
    width:100px;
}

.nav{
    display:flex;
    gap:10px;
    margin:5px;
    justify-items: center;
}

.main{
    flex-grow: 6;
}

.sidebar{
    flex-basis: 3;
}

.footer{
    justify-content: space-evenly;
}
